@use '../globals/fonts' as *;
@use '../globals/colors' as *;

html {
	box-sizing: border-box;
	font-size: 100%;
	line-height: 1.15;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: $third-color;
	background: $white;
	font-family: $primary-font;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

input,
textarea,
select,
button {
	outline: none;
}

input {
	line-height: normal;
}

label,
button {
	cursor: pointer;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
	border-style: none;
	max-width: 100%;
}

.pb-5,
.py-5 {
	padding-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $blue-dark;
	font-family: $secondary-font;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

a {
	color: $third-color;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: $secondary-color;
	text-decoration: underline;
}

a,
a:hover,
button,
button:hover {
	text-decoration: none;
	transition: 0.5s all;
	-moz-transition: 0.5s all;
}

ul {
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

nav ul li {
	display: inline-block;
}
