$primary-color: #0d369f;
$secondary-color: #ff6e65;
$third-color: #707070;
$red: #dc3545;
$red-light: #e71d36;
$blue: #0d369f;
$white: #fff;
$purple: #956fef;
$blue-dark: #060606;
$indigo: #6610f2;
$pink: #e83e8c;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$gray-dark: #343a40;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
