@use '../globals/colors' as *;
@use '../util/breakpoints' as *;
.banner {
	margin-top: -5em;
	&-item {
		padding: 0 15px;
		text-align: center;
	}
	&-content {
		position: relative;
		padding: 40px 30px;
		z-index: 1;
		border-radius: 10px;
		&.bg-blue {
			background-color: #037ef3;
			height: 100%;
		}
		&.bg-yellow {
			background-color: #ffc949;
			height: 100%;
		}
		&.bg-pink {
			background-color: #ff4f81;
			height: 100%;
		}
		&.bg-green {
			background-color: #1ee697;
			height: 100%;
		}
		> h4 {
			margin-top: 40px;
		}
		> i {
			color: $white;
			font-size: 45px;
		}
	}
	&-title {
		display: block;
		color: $white;
		transition: all 0.5s;
		margin-top: 25px;
		font-weight: 600;
		font-size: 24px;
		&:hover {
			color: #000;
			transition: all 0.5s;
			text-decoration: none;
		}
	}
}
@include maxw(991px) {
	.banner {
		margin-top: -5em;
	}
}
@include maxw(767px) {
	.banner {
		margin-top: -10em;
	}
}
@include maxw(699px) {
	.banner {
		margin-top: -14em;
	}
}
@include maxw(575px) {
	.banner {
		margin-top: -15em;
	}
}
@include maxw(480px) {
	.banner {
		margin-top: -19em;
	}
}
@include maxw(359px) {
	.banner {
		margin-top: -21em;
	}
}
@include maxw(320px) {
	.banner {
		margin-top: -23em;
	}
}
