@use '../globals/colors' as *;
@use '../globals/fonts' as *;
.welcome {
	&-item {
		justify-content: center;
	}
	&-icon {
		> i {
			color: $primary-color;
			background: rgb(13 54 159 / 9%);
			font-size: 30px;
			width: 70px;
			height: 70px;
			line-height: 70px;
			border-radius: 50%;
		}
	}
	&-title {
		font-family: $secondary-font;
		font-size: 24px;
		font-weight: 600;
		line-height: 34px;
		transition: all 0.5s;
		&:hover {
			color: $secondary-color !important;
		}
	}
	&-text {
		margin-top: 15px;
		font-size: 16px;
		line-height: 28px;
		color: $third-color;
		letter-spacing: 0.4px;
	}
}
